@import 'normalize.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
        font-family: 'Circular Spotify Text', system-ui, sans-serif;
    }
    body {
        width: 100vw;
        min-height: 100vh;
    }

    /* scroll bar */
    body::-webkit-scrollbar {
        display: none;
    }
    ::-webkit-scrollbar {
        width: 12px;
    }
    ::-webkit-scrollbar-thumb {
        background-color: hsla(0, 0%, 100%, 0.3);
    }

    a {
        text-decoration: none;
        margin: 0;
        padding: 0;
    }
}

.top-track-limit-5:nth-child(n + 6) { 
    display: none;
}

.active {
    color: white;
}

.text-climp-1 {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.text-climp-2 {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.search-input:not(:placeholder-shown) + .clear-btn {
    display: inline-block;
}

.category-item:nth-child(n + 6) {
    display: none;
}

@media screen and (min-width: 1500px) {
    .category-item:nth-child(n + 6) {
        display: inline-block;
    }
}

/* Playback tracker and volume bar*/

.volume-bar,
.playback-tracker {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    cursor: pointer;
    outline: none;
    border-radius: 15px;
    height: 4px;
}

.volume-bar:hover::-webkit-slider-thumb,
.playback-tracker:hover::-webkit-slider-thumb {
    visibility: visible;
}


.volume-bar::-webkit-slider-thumb,
.playback-tracker::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    height: 12px;
    width: 12px;
    background-color: #fff;
    border-radius: 50%;
    border: none;
    transition: 0.2s ease-in-out;
    visibility: hidden;
}

.volume-bar::-moz-range-thumb,
.playback-tracker::-moz-range-thumb {
    height: 12px;
    width: 12px;
    background-color: #fff;
    border-radius: 50%;
    border: none;
    transition: 0.2s ease-in-out;
}
